@use 'global/base';
@use 'global/section';

@use 'components/experience-card';
@use 'components/badge';

@use 'partials/hero-section';
@use 'partials/projects';
@use 'partials/contact';
@use 'partials/footer';
