* {
  box-sizing: border-box;
}

html {
  --black: #1F2024;

  --grey-a: #2D2E32;
  --grey-b: #25262A;
  --grey-c: #3A3C41;
  --grey-d: #878A92;

  --white: #f5fafa;
  --grey: #DDD;
  --blue: #00BCD4;

  --primary: var(--blue);
  --text: var(--grey);
  --accent-text: var(--white);

  --monospace: 'Fira Code', monospace;
  --sans-serif: 'Rubik', sans-serif;

  height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--sans-serif);
}

main {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

[data-emoji]::before {
  content: attr(data-emoji) ' ';
}