section {
  color: var(--text);
  padding: 3rem max((100vw - 1080px) / 2, 1.25rem) 6rem;

  &:nth-child(odd) {
    background-color: var(--grey-a);
  }

  &:nth-child(even) {
    background-color: var(--grey-b);
  }

  > h2 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--accent-text);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 2rem;
  }
}