<section id="contact" class="contact">
  <h2 data-emoji="📣" class="contact__title">Contato</h2>
  <form
    class="contact__form"
    action="https://formsubmit.co/7f6cf6921639c69916dbd96252ed8959"
    method="post"
  >
    <div class="contact__input-group">
      <label for="name">Seu nome</label>
      <input type="text" name="name" id="name" placeholder="Uncle Bob" />
    </div>

    <div class="contact__input-group">
      <label for="email">Seu email</label>
      <input type="email" name="email" id="email" placeholder="unclebob@gmail.com" />
    </div>

    <div class="contact__input-group">
      <label for="message">Sua mensagem</label>
      <textarea name="message" id="message" rows="6"></textarea>
    </div>

    <button type="submit" class="contact__submit">Enviar</button>

    <input type="hidden" name="_subject" value="Contato pelo site de Guilherme Balog" />
  </form>
</section>
