<section id="education">
  <h2 data-emoji="🎓">Formação Acadêmica</h2>

  <div class="experience-card-list">
    ${education.map(experience => _.experienceItem({
      ...experience,
      imageAlt: experience.school,
      cardProps: 'itemprop="alumniOf" itemscope itemtype="https://schema.org/OrganizationRole"',
      cardTitle: experience.title,
      titleProps: 'itemprop="roleName"',
      titleSpanProps: '',
      cardSubtitle: experience.school,
      subtitleProps: 'itemprop="alumniOf" itemscope itemtype="https://schema.org/EducationalOrganization"',
      subtitleSpanProps: 'itemprop="name"',
    })).join('')}
  </div>
</section>
