<div
  class="experience-card"
  itemprop="alumniOf"
  itemscope
  itemtype="https://schema.org/OrganizationRole"
>
  <img
    src="${experience.image}"
    alt="${experience.school}"
    class="experience-card__image"
    loading="lazy"
    itemprop="image"
  />
  <div class="experience-card__body">
    <p class="experience-card__title" itemprop="roleName">
      ${experience.title}
    </p>
    <p
      class="experience-card__subtitle"
      itemprop="alumniOf"
      itemscope
      itemtype="https://schema.org/EducationalOrganization"
    >
      <span itemprop="name">
        ${experience.school}
      </span>
    </p>
    <p class="experience-card__time">${experience.time}</p>
    <meta itemprop="startDate" content="${experience.start.toJSON()}" />
    <meta itemprop="endDate" content="${experience.end.toJSON()}" />
    <p class="experience-card__links">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="${experience.url}"
        class="experience-card__link"
        itemprop="url"
      >
        🔗 Website
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="${experience.linkedin}"
        class="experience-card__link"
      >
        👥 LinkedIn
      </a>
    </p>
  </div>
</div>

<div>
  <p>
    <strong>Descrição</strong>
  </p>
  <p class="experience-card__description">
    ${experience.description}
  </p>
</div>
