<footer class="footer" id="footer">
  <strong class="footer__title">
    Guilherme Balog Gardino, ${new Date().getFullYear()}.
  </strong>
  <nav class="footer__nav">
    <ul class="footer__list">
      <li class="footer__list-item">
        <ExternalLink
          href="https://www.linkedin.com/in/guilhermebalog"
          class="footer__link"
        >
          LinkedIn
        </ExternalLink>
      </li>
      <li class="footer__list-item">
        <ExternalLink
          href="https://github.com/GuilhermeBalog"
          class="footer__link"
        >
          GitHub
        </ExternalLink>
      </li>
      <li class="footer__list-item">
        <a href="#hero" class="footer__link">
          Voltar ao topo
        </a>
      </li>
    </ul>
  </nav>
</footer>