<section class="hero-section" id="hero">
  <div>
    <img
      src="assets/hero-image.png"
      width="498"
      height="490"
      alt="Uma imagem de Guilherme Balog com ícones do Node.js, Heroku, React e Java"
      title="Uma imagem de Guilherme Balog com ícones do Node.js, Heroku, React e Java"
      class="hero-section__image"
      itemprop="image"
    />
  </div>
  <div>
    <h1 class="hero-section__name" itemprop="name">
      <span itemprop="givenName">Guilherme</span> <span itemprop="familyName">Balog</span>
    </h1>

    <h2 class="hero-section__job-title" itemprop="jobTitle">
      Desenvolvedor <span class="hero-section__job-title-variant">de Software</span>
    </h2>

    <p class="hero-section__description" itemprop="description">
      Crio soluções tecnológicas para problemas reais, e alguns inventados também!
    </p>

    <a href="#projects" class="hero-section__cta">
      Conheça meu trabalho
    </a>

    <nav class="hero-section__social-links">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/guilhermebalog"
        class="hero-section__social-link"
      >
        <img
          src="assets/linkedin.svg"
          width="18"
          height="19"
          alt="LinkedIn Logo"
          class="hero-section__social-icon"
        />
        LinkedIn
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/GuilhermeBalog"
        class="hero-section__social-link"
      >
        <img
          src="assets/github.svg"
          width="18"
          height="19"
          alt="GitHub Logo"
          class="hero-section__social-icon"
        />
        GitHub
      </a>
    </nav>
  </div>
</section>