<li class="project-card" itemscope itemtype="https://schema.org/SoftwareSourceCode">
  ${project.image ? `
    <a href="${project.homepage || project.repo_url}" title="${project.name}" class="project-card__thumbnail-link">
      <img
        src="${project.image}"
        alt="${project.name}"
        class="project-card__thumbnail"
        loading="lazy"
        itemprop="thumbnailUrl"
      />
    </a>
  ` : ''}
  <div class="project-card__body">
    <h3 class="project-card__title">
      <a href="${project.homepage || project.repo_url}" >
        ${project.emoji}
        <span itemprop="name">
          ${project.name}
        </span>
      </a>
    </h3>
    <p class="project-card__description" itemprop="description">
      ${project.description}
    </p>
    <p class="project-card__tags" itemprop="keywords">
      ${project.languages.join(', ')}
    </p>
    ${project.languages[0] ? `<meta itemprop="programmingLanguage" content="${project.languages[0]}">` : '' }

    <div class="project-card__actions">
      ${project.homepage && project.homepage !== project.repo_url ? `
        <a href="${project.homepage}" class="project-card__link" itemprop="url">
          🔗 Acesse
        </a>
      `: ''}

      <a
        target="_blank"
        rel="noopener noreferrer"
        href="${project.repo_url}"
        class="project-card__link"
        itemprop="codeRepository"
      >
        💻 Código fonte
      </a>
    </div>
  </div>
</li>
