<section id="work">
  <h2 data-emoji="💼">Experiência Profissional</h2>

  <div class="experience-card-list">
    ${work.map(experience => _.experienceItem({
      ...experience,
      imageAlt: experience.company,
      cardProps: 'itemprop="memberOf" itemscope itemtype="https://schema.org/EmployeeRole"',
      cardTitle: experience.company,
      titleProps: 'itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"',
      titleSpanProps: 'itemprop="name"',
      cardSubtitle: experience.title,
      subtitleProps: 'itemprop="roleName"',
      subtitleSpanProps: '',
    })).join('')}
  </div>
</section>
