.footer {
  background-color: var(--black);
  color: var(--accent-text);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 792px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 792px) {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    @media screen and (min-width: 792px) {
      flex-direction: row;
    }
  }

  &__link {
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
