.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &:only-child {
    height: 100%;
  }

  @media screen and (min-width: 792px) {
    flex-direction: row-reverse;
    text-align: left;
    align-items: center;
    gap: 2rem;
    padding-block: 5rem;
  }

  &__image-container {
    position: relative;
    width: 10rem;

    @media screen and (min-width: 792px) {
      width: 20rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__image-icon {
    --base-width: 1rem;
    --step: 1rem;

    width: calc(var(--base-width) + var(--size, 1) * var(--step));
    position: absolute;
    transition: scale .3s;
    aspect-ratio: 1/1;

    @media screen and (min-width: 792px) {
      --base-width: 2rem;
      --step: 1.5rem;
    }

    &:hover {
      scale: 1.1;
    }

    &[src*="nodejs"] {
      --size: 4;
      left: calc(var(--base-width) * -1);
      bottom: calc(var(--step) * -1);
      filter: drop-shadow(-20px 20px 34px #00A87833);
    }

    &[src*="react"] {
      --size: 3;
      right: calc(var(--base-width) * -1);
      bottom: var(--step);
      filter: drop-shadow(-20px 20px 34px #00BCD433);
    }

    &[src*="heroku"] {
      --size: 2;
      left: 0;
      top: 0;
      filter: drop-shadow(-20px 20px 34px #673AB766);
    }

    &[src*="java"] {
      --size: 1;
      right: var(--base-width);
      top: 0;
      filter: drop-shadow(-20px 20px 34px #E54F6D33);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 2rem;
    color: var(--accent-text);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 3rem;
    margin-bottom: 1rem;

    &::after {
      content: '✌🏾';
    }
  }

  &__job-title {
    font-family: var(--monospace);
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--accent-text);
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__job-title-variant {
    color: var(--primary);
  }

  &__description {
    font-family: var(--monospace);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 3rem;
    margin-inline: auto;
    max-width: 20rem;
  }

  &__cta {
    background-color: var(--primary);
    padding: 0.75rem;
    display: inline-block;
    color: var(--grey-a);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  &__social-links {
    margin-top: 3rem;
  }

  &__social-link {
    font-family: var(--monospace);
    font-weight: 400;
    font-size: 1rem;
    color: var(--accent-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-left: 3rem;
    }

    &[href*="github.com"]::before {
      content: '💻 ';
    }

    &[href*="linkedin.com"]::before {
      content: '👥 ';
    }
  }
}
