.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%),1fr));
  gap: 2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  margin-inline: auto;
  list-style-type: none;
}

.project-card {
  --radius: 8px;

  border-radius: var(--radius);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--grey-c);
  display: flex;
  flex-direction: column;

  &__thumbnail-link {
    overflow: hidden;
  }

  &__thumbnail {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: var(--radius) var(--radius) 0 0;
    transition: scale 0.2s, filter 0.2s;
    filter: brightness(90%);

    &:hover {
      scale: 1.15;
      filter: brightness(110%);
    }
  }

  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-weight: 400;
    flex-grow: 1;
    margin: 0;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-start;
  }

  &__tags {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &__actions {
    display: flex;
    font-weight: 500;
  }

  &__link {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
